/* Main Window */

QWidget {
  background-color: $color-widget-background;
  color: $color-widget-text;
  
  &::disabled {
    color: $color-widget-text-disabled;
  }
}

QMainWindow::separator { }

/* Common */

/* FIX: For some reason applying background-color or border fixes paddings properties */
QListView::item,
QTreeView#espList::item,
QTreeWidget#categoriesList::item {
  border-width: 0;
}

/* remove outline */
* { outline: 0; }

*:disabled,
QListView::item:disabled,
*::item:selected:disabled {
  color: $color-text-disabled;
}


/* line heights */
/* QTreeView#fileTree::item - currently have problem with size column vertical text align  */
QTreeView#modList::item,
QTreeWidget#categoriesTree::item,
#tabConflicts QTreeWidget::item {
  padding: $tree-item-padding;
}

QListView::item,
QTreeView#espList::item {
  padding: $list-item-padding;
}

/* to enable border color */
QTreeView,
QListView,
QTextEdit,
QWebView,
QTableView {
  border-style: solid;
  border-width: 1px;
}

QAbstractItemView {
  color: $color-item-text;
	background-color: $color-item-background;
	alternate-background-color: $color-item-background-alt;
  border-color: $color-border;
  
  &::item:selected,
  &::item:selected:hover  {
    background-color: $color-selected-background;
    color: $color-text;
  }
}

QAbstractItemView,
QListView,
QTreeView {
  show-decoration-selected: 1;
}

QAbstractItemView::item,
QListView::item,
QTreeView::branch,
QTreeWidget::item {
  &:hover {
    background-color: $color-hover-background;
  }
  
  &:selected:disabled {
    background-color: $color-hover-background;
  }
}

QTreeView::branch:selected {
  background-color: $color-selected-background;
}


QLabel {
  background-color: transparent;
}

/* Left Pane & File Trees #QTreeView, #QListView*/

QTreeView::branch:closed:has-children {
  image: url(./vs15/branch-closed.png);
}

QTreeView::branch:open:has-children {
  image: url(./vs15/branch-open.png);
}

/*QListView::item:hover { }
QListView::item:selected { }*/

QListView::item {
  color: $color-text;
}

/* Text areas and text fields #QTextEdit, #QLineEdit, #QWebView */

/* Common */
QTextEdit,
QWebView,
QLineEdit,
QAbstractSpinBox,
QAbstractSpinBox::up-button,
QAbstractSpinBox::down-button,
QComboBox {
  background-color: $color-input-background;
  border-color: $color-input-border;
}

QLineEdit:hover,
QAbstractSpinBox:hover,
QTextEdit:hover,
QComboBox:hover,
QComboBox:editable:hover {
	border-color: $color-input-border-hover;
}

QLineEdit:focus,
QAbstractSpinBox::focus,
QTextEdit:focus,
QComboBox:focus,
QComboBox:editable:focus,
QComboBox:on {
  background-color: $color-input-background-hover;
  border-color: $color-input-border-focus;
}

QComboBox:on {
  border-bottom-color: $color-input-border;
}

QLineEdit,
QAbstractSpinBox {
  min-height: 15px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
}

QLineEdit {
  margin-top: 0;
}

/* clear button */
QLineEdit QToolButton,
QLineEdit QToolButton:hover {
  background: none;
  margin-top: 1px;
}

QLineEdit#espFilterEdit QToolButton {
  margin-top: -2px;
  margin-bottom: 1px;
}

/* Dropdowns #QComboBox*/

QComboBox { 
  min-height: 20px;
  padding-left: 5px;
  margin: 3px 0 1px 0;
  border-style: solid;
  border-width: 1px;
  
  &:editable {
    padding-left: 3px;
    /* to enable hover styles */
    background-color: transparent;
  }
  
  &::drop-down {
    width: 20px;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border: none;
    
    /* If you need to set style for drop down button
    &:on,
    &:editable:hover {
      background-color: red;
    } */
  }
  
  &::down-arrow {
    image: url(./vs15/combobox-down.png);
  }
  
  & QAbstractItemView {
    background-color: $color-combo-box-list-background;
    selection-background-color: $color-input-background-hover;
    border-color: $color-input-border-focus;
   
    border-style: solid;
    border-width: 0 1px 1px 1px;   
  }
}

/* doesn't work http://stackoverflow.com/questions/13308341/qcombobox-abstractitemviewitem*/
/*QComboBox QAbstractItemView:item {
  padding: 10px;
  margin: 10px;
}*/


/* Toolbar */

QToolBar { 
  border: none;
}

QToolBar::separator {
  border-left-color: $color-separator-border-left;
  border-right-color: $color-separator-border-right;
  
  border-width: 0 1px 0 1px;
  border-style: solid;
  width: 0;
}

QToolButton {
  margin: 0 4px 0 4px;
  padding: 5px;
  
  &:hover,
  &:focus {
    background-color: $color-tool-button-hover-background;
    /* need this to make background-color works*/
    border: none;
  }
  
  &:pressed {
    background-color: $color-tool-button-pressed-background;
    /* need this to make background-color works*/
    border: none;
  }
}

/* Group Boxes #QGroupBox */

QGroupBox {
	border-color: $color-border;
  
  border-style: solid;
  border-width: 1px;
  padding: 1em .3em .3em .3em;
  margin-top: .65em;
}

QGroupBox::title { 
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 2px;
  left: 10px
}

/* LCD Count */
QLCDNumber {
  border-color: $color-border;
  
  border-style: solid;
  border-width: 1px;
}

/* Buttons #QPushButton */

QPushButton {
  background-color: $color-input-background;
  border-color: $color-input-border;
  
  min-height: 18px;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
}

QPushButton:hover,
QPushButton:checked,
QPushButton:focus,
QAbstractSpinBox::up-button:hover,
QAbstractSpinBox::down-button:hover {
	background-color: $color-button-hover-background;
}

QPushButton:pressed,
QPushButton:checked:hover,
QAbstractSpinBox::up-button:pressed,
QAbstractSpinBox::down-button:pressed {
	background-color: $color-button-pressed-background;
}

QPushButton:disabled,
QAbstractSpinBox::up-button:disabled,
QAbstractSpinBox::down-button:disabled {
  background-color: $color-input-background;
  border-color: $color-input-border;
}

QPushButton::menu-indicator {
	image: url(./vs15/combobox-down.png);
  
  subcontrol-origin: padding;
  subcontrol-position: center right;
  padding-right: 5%;
}

/* dialog buttons */

/* Common */
QDialog QPushButton,
QSlider::handle:horizontal,
QSlider::handle:vertical {
  color: $color-dialog-button-text;
  background-color: $color-dialog-button-background;
  border-color: $color-dialog-button-border;
  
  border-style: solid;
  border-width: 1px;
}

QDialog QPushButton:hover,
QSlider::handle:horizontal:hover,
QSlider::handle:vertical:hover,
QSlider::handle:horizontal:pressed,
QSlider::handle:vertical:pressed {
  background-color: $color-dialog-button-background-hover;
  border-color: $color-dialog-button-border-hover;
}

/*POSTSASS QSlider::handle:horizontal:focus:!pressed,
QSlider::handle:vertical:focus:!pressed, POSTSASS*/
QDialog QPushButton:focus,
QDialog QPushButton:checked {
  background-color: $color-dialog-button-background;
  border-color: $color-dialog-button-border-focus;
}

QDialog QPushButton:disabled,
QSlider::handle:horizontal:disabled,
QSlider::handle:vertical:disabled {
  background-color: $color-input-background;
  border-color: $color-input-border;
}

QDialog QPushButton {
  min-width: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
}

/* Checkboxes and Radio buttons common #QCheckBox, #QRadioButton */
/*common*/
QGroupBox::indicator,
QTreeView::indicator,
QCheckBox::indicator,
QRadioButton::indicator {
  background-color: $color-check-box-background;
  border-color: $color-input-border;
  
  width: 13px;
  height: 13px;
  border-style: solid;
  border-width: 1px;

  &:hover {
    background-color: $color-input-background-hover;
    border-color: $color-input-border-hover;
  }  
}

QGroupBox::indicator:checked,/*,
QGroupBox::indicator:checked:hover,
QGroupBox::indicator:checked:pressed,*/
QTreeView::indicator:checked,
/*QTreeView::indicator:checked:hover,
QTreeView::indicator:checked:pressed,*/
QCheckBox::indicator:checked/*,
QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:pressed*/ {
  image: url(./vs15/checkbox-check.png);
}

QGroupBox::indicator:disabled,
QTreeView::indicator:checked:disabled,
QCheckBox::indicator:checked:disabled {
  image: url(./vs15/checkbox-check-disabled.png);
}

/* Checkboxes special */

QTreeView#modList::indicator { 
  width: $treeview-checkbox-width;
  height: $treeview-checkbox-width;
}

/* Radio buttons #QRadioButton */

QRadioButton::indicator {
  border-radius: 7px;
  
  &::checked {
    background-color: $color-radio-button-checked-background;
    border-width: 2px;
    width: 11px;
    height: 11px;
    
    &:hover {
      border-color: $color-input-border;
    }
  }
}

/* Spinners #QSpinBox, #QDoubleSpinBox */

QAbstractSpinBox {
  margin: 1px;
}

QAbstractSpinBox::up-button,
QAbstractSpinBox::down-button {
  border-style: solid;
  border-width: 1px;
  subcontrol-origin: padding;
}

QAbstractSpinBox::up-button {
  subcontrol-position: top right;
}

QAbstractSpinBox::up-arrow {
  image: url(./vs15/spinner-up.png);
}

QAbstractSpinBox::down-button {
  subcontrol-position: bottom right;
}

QAbstractSpinBox::down-arrow {
  image: url(./vs15/spinner-down.png);
}

/* Sliders #QSlider */

QSlider::groove:horizontal {
  background-color: $color-slider-groove-background;
  
  border: none;
  height: 8px;
  margin: 2px 0;
}

QSlider::handle:horizontal {  
  width: .5em;
  height: 2em;
  margin: -7px 0;
  subcontrol-origin: margin;
}

/* Scroll Bars #QAbstractScrollArea, #QScrollBar*/
/* assigning background still leaves not filled area*/
QAbstractScrollArea::corner {
	background-color: transparent;
}

/* Horizontal */

QScrollBar:horizontal {
  height: 18px;
  border: none;
  margin: 0 23px 0 23px;
}

QScrollBar::handle:horizontal {
  min-width: 32px;
  margin: 4px 2px;
}

QScrollBar::add-line:horizontal {
  width: 23px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	width: 23px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

/* Vertical */

QScrollBar:vertical {
  width: 20px;
  border: none;
  margin: 23px 0 23px 0;
}

QScrollBar::handle:vertical {
  min-height: 32px;
  margin: 2px 4px;
}

QScrollBar::add-line:vertical {
  height: 23px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {    
  height: 23px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

/* Combined */

QScrollBar {
  background-color: $color-scrollbar-background;
  
  border: none;
}

QScrollBar::handle {
  background-color: $color-handle-background;
}

QScrollBar::add-line,
QScrollBar::sub-line {
  background-color: $color-add-sub-line-background;

  border: none;
}

/*QScrollBar::add-line:horizontal:hover, 
QScrollBar::sub-line:horizontal:hover, 
QScrollBar::add-line:vertical:hover, 
QScrollBar::sub-line:vertical:hover,
QScrollBar::add-line:horizontal:pressed, 
QScrollBar::sub-line:horizontal:pressed, 
QScrollBar::add-line:vertical:pressed, 
QScrollBar::sub-line:vertical:pressed { }*/

QScrollBar::handle:hover {
	background: $color-handle-hover-background;
}

QScrollBar::handle:pressed {
	background: $color-handle-pressed-background;
}

QScrollBar::handle:disabled {
	background: $color-handle-disabled-background;
}

QScrollBar::add-page, 
QScrollBar::sub-page {
  background: transparent;
}

QScrollBar::up-arrow:vertical {
  image: url(./vs15/scrollbar-up.png); 
}
QScrollBar::up-arrow:vertical:hover {
  image: url(./vs15/scrollbar-up-hover.png); 
}
QScrollBar::up-arrow:vertical:disabled {
  image: url(./vs15/scrollbar-up-disabled.png); 
}

QScrollBar::right-arrow:horizontal {
  image: url(./vs15/scrollbar-right.png); 
}
QScrollBar::right-arrow:horizontal:hover  {
  image: url(./vs15/scrollbar-right-hover.png); 
}
QScrollBar::right-arrow:horizontal:disabled  {
  image: url(./vs15/scrollbar-right-disabled.png); 
}

QScrollBar::down-arrow:vertical {
  image: url(./vs15/scrollbar-down.png); 
}
QScrollBar::down-arrow:vertical:hover  {
  image: url(./vs15/scrollbar-down-hover.png); 
}
QScrollBar::down-arrow:vertical:disabled  {
  image: url(./vs15/scrollbar-down-disabled.png); 
}

QScrollBar::left-arrow:horizontal {
  image: url(./vs15/scrollbar-left.png);  
}
QScrollBar::left-arrow:horizontal:hover  {
  image: url(./vs15/scrollbar-left-hover.png);  
}
QScrollBar::left-arrow:horizontal:disabled  {
  image: url(./vs15/scrollbar-left-disabled.png);  
}

/* Scroll Area #QScrollArea*/

QScrollArea {
  border-color: $color-border;
  
  border-style: solid;
  border-width: 1px;
}

/* Header Rows and Tables (Configure Mod Categories) #QTableView, #QHeaderView */

QTableView {
	gridline-color: $color-border;
  selection-background-color: $color-selected-background;
  selection-color: $color-text;
}

QTableView QTableCornerButton::section {
  background: $color-table-header-background;
  border-color: $color-border;
  
  border-style: solid;
  border-width: 0 1px 1px 0;
}

QHeaderView {
  border: none;
}

QHeaderView::section {
  background: $color-table-header-background;
  border-color: $color-border;

  padding: 3px 5px;
  border-style: solid;
	border-width: 0 1px 1px 0;
}

QHeaderView::section:hover {
	background: $color-table-header-background-hover;
	color: $color-table-header-hover-text;
}

/*QHeaderView::section:first { }*/

QHeaderView::section:last {
	border-right: 0;
}

QHeaderView::up-arrow {
  image: url(./vs15/sort-asc.png);
  
  margin-bottom: -37px;
}

QTreeView#downloadView QHeaderView::up-arrow {
  margin-bottom: -32px
}

QHeaderView::down-arrow {
  image: url(./vs15/sort-desc.png);
  
  margin-bottom: 0;
}

/* Context menus, toolbar dropdowns #QMenu  */

QMenu {
	background-color: $color-context-menu-background;
	border-color: $color-context-menu-border;
  
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}

QMenu::item {
	background: transparent;
  
  padding: 4px 20px;
}

QMenu::item:selected {
	background-color: $color-context-menu-hover;
}

QMenu::item:disabled {
  background-color: transparent;
}

QMenu::separator {   
  background-color: $color-context-menu-separator;
  
  height: 1px;
  margin: 1px 0;
}

QMenu::icon { 
  margin: 1px;
}

QMenu::right-arrow {
  image: url(./vs15/sub-menu-arrow.png);
  
  subcontrol-origin: padding;
  subcontrol-position: center right;
  padding-right: .5em;
}

QMenu QPushButton {
  background-color: transparent;
  border-color: $color-input-border;
  
  margin: 1px 0 1px 0;
}

QMenu QCheckBox,
QMenu QRadioButton {
  background-color: transparent;
  
  padding: 5px 2px;
}

/* Tooltips #QToolTip, #SaveGameInfoWidget */

QToolTip,
SaveGameInfoWidget {
	background-color: $color-tool-tip-background;
  border-color: $color-tool-tip-border;
  color: $color-text;
  
  border-style: solid;
  border-width: 1px;
	padding: 2px;
}

/* Progress Bars (Downloads) #QProgressBar */

QProgressBar {  
  background-color: $color-progress-background;
  color: $color-progress-text;
  border-color: $color-progress-border;
  
  text-align: center;
  border-style: solid;
  border-width: 1px;
  margin: 0 10px;
}

QProgressBar::chunk {
  background: $color-progress-chunk-background;
}

/* Right Pane and Tab Bars #QTabWidget, #QTabBar */

QTabWidget::pane {
  border-color: $color-border;
  border-top-color: $color-hover-border;
  
  top: 0;
  border-style: solid;
  border-width: 1px; 
}

QTabWidget::pane:disabled {
  border-top-color: $color-border;
}

/*QTabWidget::tab-bar { }*/

QTabBar::tab {
  background-color: $color-tab-background;
  
  padding: 4px 1em;
  border: none;
}

QTabBar::tab:hover {
  background-color: $color-tab-hover-background;
}

QTabBar::tab:selected,
QTabBar::tab:selected:hover {
	background-color: $color-tab-selected-background;
}

QTabBar::tab:disabled {
	background-color: transparent;
  color: $color-text-disabled;
}

QTabBar::tab:selected:disabled {
	background-color: $color-tab-selected-disabled-background;
}

/* scrollers */

QTabBar QToolButton {
	background-color: $color-input-background;
  border-color: $color-input-border;
  
  padding: 1px;
	margin: 0;
  border-style: solid;
  border-width: 1px;
}

QTabBar QToolButton:hover {
  border-color: $color-input-border-hover;
  border-width: 1px;
  border-style: solid;
}

QTabBar QToolButton:disabled,
QTabBar QToolButton:pressed:hover {
	background-color: $color-input-background;
}

/*QTabBar::tear { }*/

QTabBar::scroller { 
  width: 23px;
  background-color: red;
}

QTabBar QToolButton::right-arrow {
  image: url(./vs15/scrollbar-right.png);
}
QTabBar QToolButton::right-arrow:hover {
  image: url(./vs15/scrollbar-right-hover.png);
}

QTabBar QToolButton::left-arrow {
  image: url(./vs15/scrollbar-left.png);
}
QTabBar QToolButton::left-arrow:hover {
  image: url(./vs15/scrollbar-left-hover.png);
}

/* Special styles */

/* fix margins on tabs pane */
QLineEdit#espFilterEdit {
  margin: 0 0 6px 0;
}
QTreeView#downloadView {
  margin: 4px 4px 0 4px;
}
QCheckBox#showHiddenBox {
  margin: 0 0 4px 4px;
}
QLineEdit#downloadFilterEdit {
  margin: 0 4px 4px 0;
}

QWidget#tabImages QPushButton {
  background-color: transparent;
  margin: 0 .3em;
  padding: 0;
}

/* like dialog QPushButton*/
QWidget#tabESPs QToolButton {
  color: $color-dialog-button-text;
  background-color: $color-dialog-button-background;
  border-color: $color-dialog-button-border;
  
  border-style: solid;
  border-width: 1px;
}
QWidget#tabESPs QToolButton:hover {
  background-color: $color-dialog-button-background-hover;
  border-color: $color-dialog-button-border-hover;
}
QWidget#tabESPs QToolButton:focus {
  background-color: $color-dialog-button-background;
  border-color: $color-selected-background;
}
QWidget#tabESPs QToolButton:disabled {
  background-color: $color-input-background;
  border-color: $color-input-border;
}

QTreeWidget#categoriesList {
  /*min-width: 225px;*/
}
QTreeWidget#categoriesList::item {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .35em 10px;
}
QTreeWidget#categoriesList::item:has-children {
  background-image: url(./vs15/branch-closed.png);
}
QTreeWidget#categoriesList::item:has-children:open {
  background-image: url(./vs15/branch-open.png);
}

QDialog#QueryOverwriteDialog QPushButton {
  margin-left: .5em;
}

QDialog#PyCfgDialog QPushButton:hover {
  background-color: $color-dialog-button-background-hover;
}

QLineEdit#modFilterEdit {
  margin-top: 2px;
}

/* highlight unchecked BSAs */
QWidget#bsaTab QTreeWidget::indicator:unchecked {
  background-color: $color-selected-background;
}

/* increase version textfield */
QLineEdit#versionEdit {
  max-width: 100px;
}

/* Dialogs width changes */

/* increase width to prevent buttons cutting */
QDialog#QueryOverwriteDialog {
  min-width: 565px
}

QDialog#ModInfoDialog {
  min-width: 850px;
}