$color-theme-1: #009933;
$color-theme-2: #009933;
$color-theme-3: lighten($color-theme-1, 5%);
$color-theme-4: lighten($color-theme-1, 3%);
$color-theme-5: lighten($color-theme-1, 60%);

$color-selected-background-disabled: $color-theme-1;

$color-selected-background: $color-theme-1;
$color-hover-background: rgba($color-selected-background, 0.3);
$color-hover-border: $color-theme-2;

$color-input-border-hover: $color-theme-2;
$color-input-border-focus: $color-theme-1;

$color-tool-button-pressed-background: $color-theme-1;

$color-button-hover-background: $color-theme-2;
$color-button-pressed-background: $color-theme-3;

$color-dialog-button-background-hover: $color-theme-5;
$color-dialog-button-border-hover: $color-theme-4;
$color-dialog-button-border-focus: $color-theme-1;

$color-tab-selected-background: $color-theme-2;
$color-tab-hover-background: $color-theme-3;