$color-text: #F1F1F1;
$color-text-disabled: #656565;
$color-border: #3F3F46;

$color-input-border: #3F3F46; /* or #434346*/
$color-input-background: #333337;
$color-input-background-hover: #3F3F46;

$color-widget-background: #2D2D30;
$color-widget-text: #F1F1F1;
$color-widget-text-disabled: #656565;

$color-item-text: #DCDCDC;
$color-item-background: #1E1E1E;
$color-item-background-alt: #262626;

$color-separator-border-left: #222222;
$color-separator-border-right: #46464A;

$color-tool-button-hover-background: #3E3E40;

$color-combo-box-list-background: #1B1B1C;

$color-dialog-button-text: #000000;
$color-dialog-button-background: #DDDDDD;
$color-dialog-button-border: #707070;

$color-check-box-background: #2D2D30;

$color-radio-button-checked-background: #B9B9BA;

$color-slider-groove-background: #3F3F46;

$color-scrollbar-background: #3E3E42;

$color-handle-background: #686868;
$color-handle-hover-background: #9E9E9E;
$color-handle-pressed-background: #EFEBEF;
$color-handle-disabled-background: #555558;
$color-add-sub-line-background: #3E3E42;

$color-table-header-background: #252526;
$color-table-header-background-hover: #3E3E40;
$color-table-header-hover-text: #F6F6F6;

$color-context-menu-background: #1A1A1C;
$color-context-menu-hover: #333334;
$color-context-menu-border: #333337;
$color-context-menu-separator: #333337;

$color-tool-tip-background: #424245;
$color-tool-tip-border: #4D4D50;

$color-progress-text: #000;
$color-progress-background: #E6E6E6;
$color-progress-border: #BCBCBC;
$color-progress-chunk-background: #06B025;

$color-tab-background: transparent;
$color-tab-selected-disabled-background: #3F3F46;