$color-text-light: #f1f1f1;
$color-text-dark: #1e1e1e;

$color-text: #f1f1f1;
$color-text-disabled: #656565;
$color-border: #3f3f46;

$color-input-border: #3f3f46;
$color-input-background: #333337;
$color-input-background-hover: #3f3f46;

$color-widget-background: #2d2d30;
$color-widget-text: #f1f1f1;
$color-widget-text-disabled: #656565;

$color-item-text: #dcdcdc;
$color-item-background: #1e1e1e;
$color-item-background-alt: #262626;

$color-separator-border-left: #222222;
$color-separator-border-right: #46464a;

$color-combo-box-list-background: #1b1b1c;

$color-check-box-background: #2d2d30;

$color-slider-groove-background: #3f3f46;

$color-scrollbar-background: #3e3e42;

$color-handle-background: #686868;
$color-handle-hover-background: #9e9e9e;
$color-handle-pressed-background: #efebef;
$color-handle-disabled-background: #555558;
$color-add-sub-line-background: #3e3e42;

$color-table-header-background: #252526;
$color-table-header-background-hover: #3e3e40;
$color-table-header-hover-text: #f6f6f6;

$color-context-menu-background: #1a1a1c;
$color-context-menu-border: #333337;
$color-context-menu-separator: #333337;

$color-progress-text: #000;
$color-progress-background: #e6e6e6;
$color-progress-border: #bcbcbc;
$color-progress-chunk-background: #06b025;

$color-tab-background: transparent;
$color-tab-selected-disabled-background: #3f3f46;

// Accent colors

$color-accent: #111;
